<head data-th-fragment="head(title)">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title data-th-text="${title}">Hello micromata!</title>
    <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/twitter.css}"/>
    <!--[if lt IE 9]>
    <script data-th-src="@{/js/html5.js}"></script>
    <![endif]-->
</head>