<div class="col-md-11 box" id="sidebar" data-th-fragment="sidebar">
    <ul class="list-group">
        <li class="list-group-item" data-th-utext="#{sidebar.copyright}"></li>
        <a data-th-href="@{/search}">
            <li class="list-group-item" data-th-text="#{sidebar.search}">
                About
            </li>
        </a>
        <a data-th-href="@{/about}">
            <li class="list-group-item" data-th-text="#{sidebar.about}">
                About
            </li>
        </a>
        <a data-th-href="@{/impressum}">
            <li class="list-group-item"
                data-th-text="#{sidebar.impressum}">Impressum
            </li>
        </a>
    </ul>
</div>